<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mallStart.mapper.wxMapper.WxBrandMapper">
    <resultMap id="BrandMap" type="com.cskaoyan.mall.mallStart.bean.Brand">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="desc" property="desc"/>
        <result column="pic_url" property="picUrl"/>
        <result column="floor_price" property="floorPrice"/>
    </resultMap>
    <select id="selectBrandAll" resultMap="BrandMap">
        select id ,`name`,`desc`,`pic_url`,`floor_price` from cskaoyan_mall_brand
    </select>
    <resultMap id="BrandDetailMap" type="com.cskaoyan.mall.mallStart.bean.Brand">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="desc" property="desc"/>
        <result column="pic_url" property="picUrl"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="floor_price" property="floorPrice"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <select id="selectBrandById" resultMap="BrandDetailMap">
        select id ,`name`,`desc`,`pic_url`,sort_order,`floor_price`,add_time ,update_time ,deleted from cskaoyan_mall_brand where id = #{id}
    </select>
    <resultMap id="GoodsMap" type="com.cskaoyan.mall.mallStart.bean.Goods">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="brief" property="brief"/>
        <result column="pic_url" property="picUrl"/>
        <result column="is_new" property="isNew"/>
        <result column="is_hot" property="isHot"/>
        <result column="counter_price" property="counterPrice"/>
        <result column="retail_price" property="retailPrice"/>
    </resultMap>
    <select id="selectGoodsByBrandId" resultMap="GoodsMap">
        select id,`name`,brief,pic_url,is_new,is_hot,counter_price,retail_price from cskaoyan_mall_goods where brand_id = #{brandId}
    </select>
</mapper>
