<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mallStart.mapper.adminMapper.AdminMallMapper">
    <resultMap id="BaseResultMap" type="com.cskaoyan.mall.mallStart.bean.Region">
        <result column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="type" property="type"/>
        <collection property="children" column="id"
                    select="com.cskaoyan.mall.mallStart.mapper.adminMapper.AdminMallMapper.selectCitysByPid"/>
    </resultMap>

    <resultMap id="CityMap" type="com.cskaoyan.mall.mallStart.bean.Region">
        <result column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="type" property="type"/>
        <collection property="children" column="code"
                    select="com.cskaoyan.mall.mallStart.mapper.adminMapper.AdminMallMapper.selectTownsByCode"/>
    </resultMap>

    <sql id="Base_Column_List_Province">
    id,pid,name,type,code
    </sql>


    <select id="selectRegions" resultMap="BaseResultMap">
        select <include refid="Base_Column_List_Province"/>
        from cskaoyan_mall_region
        where pid = 0
    </select>

    <select id="selectCitysByPid" resultMap="CityMap">
        select <include refid="Base_Column_List_Province"/>
        from cskaoyan_mall_region
        where pid = #{pid}
    </select>

    <select id="selectTownsByCode" resultType="com.cskaoyan.mall.mallStart.bean.Region">
        select <include refid="Base_Column_List_Province"/>
        from cskaoyan_mall_region
        where code between #{code} * 100 and (#{code} + 1) * 100
    </select>

    <select id="selectBrands" resultType="com.cskaoyan.mall.mallStart.bean.Brand">
        select id,name,`desc`,pic_url as picUrl, sort_order as sortOrder, floor_price as floorPrice, add_time as addTime
      , update_time as updateTime, deleted
        from cskaoyan_mall_brand
        <where>

        <if test="brand != null">
            <if test=" brand.id != null and brand.id != 0">
                and id = #{brand.id}
            </if>
            <if test="brand.name != null and brand.name != ''">
                and name like '%' #{brand.name} '%'
            </if>
        </if>

        </where>
    </select>

    <insert id="insertBrand">
        <selectKey resultType="int" keyProperty="brand.id" keyColumn="id" order="AFTER">
            select last_insert_id() as id
        </selectKey>
        insert into cskaoyan_mall_brand (name, `desc`, floor_price, pic_url)
        values (#{brand.name},#{brand.desc},#{brand.floorPrice},#{brand.picUrl})
    </insert>

    <select id="selectBrandById" resultType="com.cskaoyan.mall.mallStart.bean.Brand">
        select id,name,`desc`,pic_url as picUrl,floor_price as floorPrice,add_time addTime
        ,update_time as updateTime
        from cskaoyan_mall_brand
        where id = #{id}
    </select>

    <update id="updateBrand">
        update cskaoyan_mall_brand set `desc` = #{brand.desc}, floor_price = #{brand.floorPrice}
        , name = #{brand.name} , pic_url = #{brand.picUrl}, update_time = #{brand.updateTime}
        where id = #{brand.id}
    </update>

    <delete id="deleteBrandById">
        delete from cskaoyan_mall_brand where id = #{id};
    </delete>

    <select id="selectOrders" resultType="com.cskaoyan.mall.mallStart.bean.Order">
        select id,
        user_id as userId
        , order_sn as orderSn
        ,order_status as orderStatus
        ,consignee
        ,mobile,address
        ,message
        ,goods_price as goodsPrice
        ,freight_price as freightPrice
        ,coupon_price as couponPrice
        ,integral_price as integralPrice
        ,groupon_price as grouponPrice
        ,order_price as orderPrice
        ,actual_price as actualPrice
        ,pay_id as payId
        ,pay_time as payTime
        , ship_sn as shipSn
        ,ship_channel as shipChannel
        ,ship_time as shipTime
        ,confirm_time as confirmTime
        ,comments
        ,end_time as endTime
        ,add_time as addTime
        ,update_time as updateTime,deleted
        from cskaoyan_mall_order
        <where>
            <if test="order.userId != 0 and order.userId != null">
                and user_id = #{order.userId}
            </if>
            <if test="order.orderSn != null and order.orderSn != ''">
                and order_sn = #{order.orderSn}
            </if>

            <if test="order.orderStatusArray != null">
                and
                <trim prefixOverrides="or">
                    <foreach collection="order.orderStatusArray" item="orderStatus" >
                        or order_status = #{orderStatus}
                    </foreach>
                </trim>
            </if>

        </where>
    </select>


    <sql id="keyword_colum_list_property">
         id,keyword,url,is_hot as isHot,is_default as isDefault,sort_order as sortOrder
        ,add_time as addTime,update_time as updateTime, deleted
    </sql>
    <select id="selectKeywords" resultType="com.cskaoyan.mall.mallStart.bean.Keyword">
        select id,keyword,url,is_hot as isHot,is_default as isDefault,sort_order as sortOrder
        ,add_time as addTime,update_time as updateTime, deleted
        from cskaoyan_mall_keyword
        <where>
            <if test="keyword.keyword != null and keyword.keyword != ''">
                and keyword like '%' #{keyword.keyword} '%'
            </if>

            <if test="keyword.url != null and keyword.url != ''">
                and url like '%' #{keyword.url} '%'
            </if>
        </where>
    </select>

    <insert id="insertKeyword">
        <selectKey resultType="int" keyColumn="id" keyProperty="keyword.id" order="AFTER">
            select last_insert_id() as id
        </selectKey>
        insert into cskaoyan_mall_keyword (keyword,url,is_hot,is_default,add_time,update_time)
        values (#{keyword.keyword},#{keyword.url},#{keyword.isHot},#{keyword.isDefault},#{keyword.addTime},#{keyword.updateTime})
    </insert>

    <update id="updateKeyword">
        update cskaoyan_mall_keyword set  is_default = #{keyword.isDefault}
        , is_hot = #{keyword.isHot} ,keyword = #{keyword.keyword},update_time = #{keyword.updateTime}
        , url = #{keyword.url}
        where id = #{keyword.id}
    </update>

    <select id="selectHotKeywords" resultType="com.cskaoyan.mall.mallStart.bean.Keyword">
        select <include refid="keyword_colum_list_property"/>
        from cskaoyan_mall_keyword where is_hot = #{isHot}
    </select>

    <select id="selectDefaultKeyword" resultType="com.cskaoyan.mall.mallStart.bean.Keyword">
        select <include refid="keyword_colum_list_property"/>
        from cskaoyan_mall_keyword where is_default = true
    </select>

    <select id="selectHistoryKeywords" resultType="com.cskaoyan.mall.mallStart.bean.Keyword">
        select keyword
        from cskaoyan_mall_search_history
        where user_id = #{userId}
    </select>

    <insert id="insertSearchHistory">
        insert into cskaoyan_mall_search_history (keyword,user_id,add_time,update_time)
        values (#{history.keyword},#{history.userId},#{history.addTime},#{history.updateTime})
    </insert>

    <select id="selectStringKeywords" resultType="String">
        select keyword from cskaoyan_mall_keyword where keyword like '%' #{keyword} '%'
    </select>

    <resultMap id="CategoryMapper" type="com.cskaoyan.mall.mallStart.bean.Category">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="keywords" property="keywords"/>
        <result column="desc" property="desc"/>
        <result column="iconUrl" property="iconUrl"/>
        <result column="picUrl" property="picUrl"/>
        <result column="level" property="level"/>
        <collection property="children" column="id"
                    select="com.cskaoyan.mall.mallStart.mapper.adminMapper.AdminMallMapper.selectCategoryChildren"></collection>
        <collection property="goodsList" column="id"
                    select="com.cskaoyan.mall.mallStart.mapper.adminMapper.AdminMallMapper.selectGoodsList"/>
    </resultMap>

    <select id="selectCategorys" resultMap="CategoryMapper">
        select id,name,keywords,`desc`,pid,icon_url as iconUrl, pic_url as picUrl, level,sort_order as
        sortOrder, add_time as addTime, update_time as updateTime, `deleted`
        from cskaoyan_mall_category
        where pid = 0
    </select>

    <select id="selectGoodsList" resultType="com.cskaoyan.mall.mallStart.bean.Goods">
        select brief, counter_price as counterPrice, g.id , is_hot as isHot, is_new as isNew
        ,g.name ,g.pic_url as picUrl, retail_price as retailPrice
        from cskaoyan_mall_category c LEFT JOIN cskaoyan_mall_goods g
        on c.id = g.category_id
        where c.pid = #{id}
    </select>

    <select id="selectCategoryChildren" resultType="com.cskaoyan.mall.mallStart.bean.Category">
        select id,name,keywords,`desc`,pid,icon_url as iconUrl, pic_url as picUrl, level,sort_order as
        sortOrder, add_time as addTime, update_time as updateTime, `deleted`
        from cskaoyan_mall_category
        where pid = #{id}
    </select>

    <select id="selectCategoryTypes" resultType="com.cskaoyan.mall.mallStart.bean.CategoryType">
        select id as value, name as label
        from cskaoyan_mall_category
        where pid = 0
    </select>

    <insert id="insertCategory">
        <selectKey keyProperty="category.id" keyColumn="id" resultType="int" order="AFTER">
            select last_insert_id() as id
        </selectKey>
        insert into cskaoyan_mall_category (`desc`, icon_url, keywords,level,name,pic_url,pid
        , add_time ,update_time)
        values (#{category.desc},#{category.iconUrl},#{category.keywords},#{category.level}
        ,#{category.name},#{category.picUrl},#{category.pid},#{category.addTime},#{category.updateTime})
    </insert>

    <update id="updateCategory" >
        update cskaoyan_mall_category set `desc` = #{category.desc}, icon_url = #{category.iconUrl}
        , keywords = #{category.keywords} ,level = #{category.level}
        , name = #{category.name}, pic_url = #{category.picUrl}
        where id = #{category.id}
    </update>

    <delete id="deleteCategoryById">
        delete from cskaoyan_mall_category where id = #{id}
    </delete>

    <select id="selectCategoryPidById" resultType="int">
        select pid from cskaoyan_mall_category where id = #{id}
    </select>

    <select id="selectCategoryById" resultType="com.cskaoyan.mall.mallStart.bean.Category">
        select add_time as addTime , deleted , `desc` , icon_url as iconUrl , id , keywords
        , level , name , pic_url as picUrl , pid , sort_order as sortOrder , update_time as updateTime
        from cskaoyan_mall_category
        where id = #{id}
    </select>


    <select id="selectOrderById" resultType="com.cskaoyan.mall.mallStart.bean.Order">
        select id
, user_id   as userId
, order_sn     as orderSn
, order_status  as orderStatus
, consignee
, mobile
, address
, message
, goods_price   as goodsPrince
, freight_price  as freightPrice
, coupon_price   as couponPrice
, integral_price  as integralPrice
, groupon_price   as grouponPrice
, order_price   as orderPrice
, actual_price  as actualPrice
, comments
, end_time      as endTime
, add_time      as addTime
, update_time   as updateTime
, deleted
from cskaoyan_mall_order
    </select>

    <select id="selectUserById" resultType="com.cskaoyan.mall.mallStart.bean.User">
        select nickname , avatar from cskaoyan_mall_user where id = #{id}
    </select>

    <select id="selectOrderGoods" resultType="com.cskaoyan.mall.mallStart.bean.OrderGoods">
        select id
, order_id  as orderId
, goods_id  as goodsId
, goods_name  as goodsName
, goods_sn    as goodsSn
, product_id   as productId
, `number`
, price
, specifications
, pic_url    as picUrl
, `comment`
, add_time       as addTime
, update_time    as updateTime
, deleted
from cskaoyan_mall_order_goods
where order_id = #{id}
    </select>

    <update id="updateIssue">
        update cskaoyan_mall_issue set question = #{issue.question}
        , answer = #{issue.answer}, add_time = #{issue.addTime}, update_time = #{issue.updateTime}
        , deleted = #{issue.deleted}
        where id = #{issue.id}
    </update>

    <insert id="insertIssue">
        insert into cskaoyan_mall_issue (question,answer,add_time,update_time,deleted)
        values (#{issue.question},#{issue.answer},#{issue.addTime},#{issue.updateTime},#{issue.deleted})
    </insert>

    <select id="selectIssues" resultType="com.cskaoyan.mall.mallStart.bean.Issue">
        select id,question,answer,add_time as addTime, update_time as updateTime ,deleted
        from cskaoyan_mall_issue
        <where>
            <if test="issue.question != null and issue.question != ''">
                and question like '%' #{issue.question} '%'
            </if>
        </where>
    </select>

    <delete id="deleteIssueById">
        delete from cskaoyan_mall_issue where id = #{id}
    </delete>

    <delete id="deleteSearchHistory">
        delete from cskaoyan_mall_search_history where user_id = #{userId}
    </delete>

    <select id="selectUserOrderStatusCount" resultType="int">
        select count(id) from cskaoyan_mall_order where order_status = #{status}
        and user_id = #{user_id}
    </select>

</mapper>
