<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mallStart.mapper.adminMapper.AdminGoodsMapper">
    <resultMap id="goodsMap" type="com.cskaoyan.mall.mallStart.bean.Goods">
        <result column="id" property="id"/>
        <result column="goods_sn" property="goodsSn"/>
        <result column="name" property="name"/>
        <result column="category_id" property="categoryId"/>
        <result column="brand_id" property="brandId"/>
        <result column="galley" property="galley"/>
        <result column="keywords" property="keywords"/>
        <result column="brief" property="brief"/>
        <result column="is_on_sale" property="isOnSale"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="pic_url" property="picUrl"/>
        <result column="share_url" property="shareUrl"/>
        <result column="is_new" property="isNew"/>
        <result column="is_hot" property="isHot"/>
        <result column="unit" property="unit"/>
        <result column="counter_price" property="counterPrice"/>
        <result column="retail_price" property="retailPrice"/>
        <result column="detail" property="detail"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <sql id="goods_column_list">
        id, goods_sn, name, category_id, brand_id, gallery, keywords, brief, is_on_sale, sort_order,
          pic_url, share_url, is_new, is_hot, unit, counter_price, retail_price, detail, add_time,
          update_time, deleted
    </sql>
    <select id="listGoods" resultMap="goodsMap">
        select <include refid="goods_column_list"/> from cskaoyan_mall_goods
        <where>
            <if test="name != null">
                and name like '%' #{name} '%'
            </if>
            <if test="goodsSn != null">
                and goods_Sn = #{goodsSn}
            </if>
        </where>
    </select>
    <select id="listGoodsById" resultMap="goodsMap">
        select <include refid="goods_column_list"/> from cskaoyan_mall_goods
        <where>
          id = #{id}
        </where>
    </select>

    <sql id="comment_columu_list">
        id, value_id, `type`, content, user_id, has_picture, pic_urls, star, add_time, update_time, deleted
    </sql>
    <resultMap id="commentsMap" type="com.cskaoyan.mall.mallStart.bean.Comment">
        <result column="id" property="id"/>
        <result column="value_id" property="valueId"/>
        <result column="type" property="type"/>
        <result column="content" property="content"/>
        <result column="user_id" property="userId"/>
        <result column="has_picture" property="hasPicture"/>
        <result column="pic_urls" property="picUrls"/>
        <result column="star" property="star"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <select id="commentsList" resultMap="commentsMap">
        select <include refid="comment_columu_list"/> from cskaoyan_mall_comment
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="valueId != null">
                and value_id = #{valueId}
            </if>
        </where>
    </select>
    <delete id="deleteComment">
        delete from cskaoyan_mall_comment where id = #{id}
    </delete>
    <insert id="insertGoods">
        <selectKey resultType="int" keyProperty="goods.id" keyColumn="id" order="AFTER">
            select last_insert_id() as id
        </selectKey>
        insert into cskaoyan_mall_goods  (goods_sn, name, category_id, brand_id, gallery, keywords, brief, is_on_sale, sort_order,
          pic_url, is_new, is_hot, unit, counter_price, retail_price, detail, add_time,update_time) values
          (#{goods.goodsSn},#{goods.name},#{goods.categoryId},#{goods.brandId},#{goods.gallery},#{goods.keywords},#{goods.brief},#{goods.isOnSale},
          #{goods.sortOrder},#{goods.picUrl},#{goods.isNew},#{goods.isHot},#{goods.unit},#{goods.counterPrice},#{goods.retailPrice},#{goods.detail},#{goods.addTime},#{goods.updateTime})
    </insert>
    <insert id="insertAttribute">
        insert into cskaoyan_mall_goods_attribute (goods_id,attribute,value,add_time,update_time) values (#{attribute.goodsId},
        #{attribute.attribute},#{attribute.value},#{attribute.addTime},#{attribute.updateTime})
    </insert>
    <insert id="insertProducts">
        insert into cskaoyan_mall_goods_product (goods_id,specifications,price,number,url,add_time,update_time) values
        (#{product.goodsId},#{product.specifications},#{product.price},#{product.number},#{product.url},#{product.addTime},#{product.updateTime})
    </insert>
    <insert id="insertSpecification">
        insert into cskaoyan_mall_goods_specification (goods_id,specification,value,pic_url,add_time,update_time) values
        (#{specification.goodsId},#{specification.specification},#{specification.value},#{specification.picUrl},#{specification.addTime},#{specification.updateTime})
    </insert>
</mapper>
