<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mallStart.mapper.adminMapper.AdminGoodsMapper">
    <resultMap id="goodsMap" type="com.cskaoyan.mall.mallStart.bean.Goods">
        <result column="id" property="id"/>
        <result column="goods_sn" property="goodsSn"/>
        <result column="name" property="name"/>
        <result column="category_id" property="categoryId"/>
        <result column="brand_id" property="brandId"/>
        <result column="galley" property="galley"/>
        <result column="keywords" property="keywords"/>
        <result column="brief" property="brief"/>
        <result column="is_on_sale" property="isOnSale"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="pic_url" property="picUrl"/>
        <result column="share_url" property="shareUrl"/>
        <result column="is_new" property="isNew"/>
        <result column="is_hot" property="isHot"/>
        <result column="unit" property="unit"/>
        <result column="counter_price" property="counterPrice"/>
        <result column="retail_price" property="retailPrice"/>
        <result column="detail" property="detail"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <sql id="goods_column_list">
        id, goods_sn, name, category_id, brand_id, gallery, keywords, brief, is_on_sale, sort_order,
          pic_url, share_url, is_new, is_hot, unit, counter_price, retail_price, detail, add_time,
          update_time, deleted
    </sql>

    <sql id="goods_column_list_select">
        id, goods_sn as goodsSn, name, category_id as categoryId, brand_id as BrandId
        , gallery, keywords, brief, is_on_sale as IsOnSale, sort_order sortOrder,
          pic_url as picUrl, share_url as shareUrl, is_new as isNew, is_hot as isHot, unit
          , counter_price as counterPrice, retail_price as retailPrice, detail, add_time as addTime
          , update_time as updateTime, deleted
    </sql>
    <select id="listGoods" resultMap="goodsMap">
        select <include refid="goods_column_list"/> from cskaoyan_mall_goods
        <where>
            <if test="name != null">
                and name like '%' #{name} '%'
            </if>
            <if test="goodsSn != null">
                and goods_Sn = #{goodsSn}
            </if>
        </where>
    </select>
    <select id="listGoodsById" resultMap="goodsMap">
        select <include refid="goods_column_list"/> from cskaoyan_mall_goods
        <where>
          id = #{id}
        </where>
    </select>

    <sql id="comment_columu_list">
        id, value_id, `type`, content, user_id, has_picture, pic_urls, star, add_time, update_time, deleted
    </sql>
    <resultMap id="commentsMap" type="com.cskaoyan.mall.mallStart.bean.Comment">
        <result column="id" property="id"/>
        <result column="value_id" property="valueId"/>
        <result column="type" property="type"/>
        <result column="content" property="content"/>
        <result column="user_id" property="userId"/>
        <result column="has_picture" property="hasPicture"/>
        <result column="pic_urls" property="picUrls"/>
        <result column="star" property="star"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <select id="commentsList" resultMap="commentsMap">
        select <include refid="comment_columu_list"/> from cskaoyan_mall_comment
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="valueId != null">
                and value_id = #{valueId}
            </if>
        </where>
    </select>
    <delete id="deleteComment">
        delete from cskaoyan_mall_comment where id = #{id}
    </delete>
    <insert id="insertGoods">
        <selectKey resultType="int" keyProperty="goods.id" keyColumn="id" order="AFTER">
            select last_insert_id() as id
        </selectKey>
        insert into cskaoyan_mall_goods  (goods_sn, name, category_id, brand_id, gallery, keywords, brief, is_on_sale, sort_order,
          pic_url, is_new, is_hot, unit, counter_price, retail_price, detail, add_time,update_time) values
          (#{goods.goodsSn},#{goods.name},#{goods.categoryId},#{goods.brandId},#{goods.gallery},#{goods.keywords},#{goods.brief},#{goods.isOnSale},
          #{goods.sortOrder},#{goods.picUrl},#{goods.isNew},#{goods.isHot},#{goods.unit},#{goods.counterPrice},#{goods.retailPrice},#{goods.detail},#{goods.addTime},#{goods.updateTime})
    </insert>
    <insert id="insertAttribute">
        insert into cskaoyan_mall_goods_attribute (goods_id,attribute,value,add_time,update_time) values (#{attribute.goodsId},
        #{attribute.attribute},#{attribute.value},#{attribute.addTime},#{attribute.updateTime})
    </insert>
    <insert id="insertProducts">
        insert into cskaoyan_mall_goods_product (goods_id,specifications,price,number,url,add_time,update_time) values
        (#{product.goodsId},#{product.specifications},#{product.price},#{product.number},#{product.url},#{product.addTime},#{product.updateTime})
    </insert>
    <insert id="insertSpecification">
        insert into cskaoyan_mall_goods_specification (goods_id,specification,value,pic_url,add_time,update_time) values
        (#{specification.goodsId},#{specification.specification},#{specification.value},#{specification.picUrl},#{specification.addTime},#{specification.updateTime})
    </insert>

    <select id="selectHotGoods" resultType="com.cskaoyan.mall.mallStart.bean.Goods">
        select <include refid="goods_column_list_select"/>
        from cskaoyan_mall_goods
        where is_hot = #{hot}
    </select>

    <select id="selectNewGoods" resultType="com.cskaoyan.mall.mallStart.bean.Goods">
        select <include refid="goods_column_list_select"/>
        from cskaoyan_mall_goods
        where is_new = #{isNew}
    </select>

    <!--<resultMap id="GoodsListInfoMap" type="com.cskaoyan.mall.mallStart.bean.GoodsListInfo">
        <collection property="goodsList" ofType="com.cskaoyan.mall.mallStart.bean.Goods">
            <result column="gid"            property="id"/>
            <result column="gbreif"          property="breif"/>
            <result column="gcounterPrice"  property="counterPrice"/>
            <result column="gisNew"         property="isNew"/>
            <result column="gisHot"         property="isHot"/>
            <result column="gname"          property="name"/>
            <result column="gpicUrl"        property="picUrl"/>
            <result column="gretailPrice"   property="retailPrice"/>
        </collection>

        <collection property="filterCategoryList" ofType="com.cskaoyan.mall.mallStart.bean.Category" >
            <result column="cid"         property="id"/>
            <result column="cname"       property="name"/>
            <result column="ckeywords"   property="keywords"/>
            <result column="cdesc"       property="desc"/>
            <result column="ciconUrl"    property="iconUrl"/>
            <result column="cpicUrl"     property="picUrl"/>
            <result column="clevel"      property="level"/>
            <result column="caddTime"    property="addTime"/>
            <result column="cdeleted"    property="deleted"/>
            <result column="cpid"        property="pid"/>
            <result column="csortOrder"  property="sortOrder"/>
            <result column="cupdateTime" property="updateTime"/>
        </collection>
    </resultMap>

    <select id="selectGoodsByKeywordAndCategoryId" resultMap="GoodsListInfoMap">
        select
        g.id as gid
        ,g.brief as gbrief
        ,g.counter_price as gcounterPrice
        ,g.is_new as gisNew
        ,g.is_hot as gisHot
        ,g.name as gname
        ,g.pic_url as gpicUrl
        ,g.retail_price as gretailPrice
        ,c.id          as   cid
        ,c.name        as   cname
        ,c.keywords    as   ckeywords
        ,c.desc        as   cdesc
        ,c.icon_url     as   ciconUrl
        ,c.pic_url      as   cpicUrl
        ,c.level       as   clevel
        ,c.add_time     as   caddTime
        ,c.deleted     as   cdeleted
        ,c.pid         as   cpid
        ,c.sort_order   as   csortOrder
        ,c.update_time  as   cupdateTime
        from cskaoyan_mall_goods g
        LEFT JOIN cskaoyan_mall_category c
        on g.category_id = c.id
        where
        g.name like '%' #{keyword} '%'
        <if test="categoryId != null and categoryId != 0">
          and g.category_id = #{categoryId}
        </if>
    </select>-->

    <select id="selectGoodsByKeywordAndCategoryId" resultType="com.cskaoyan.mall.mallStart.bean.Goods">
        select id
        ,brief
        ,counter_price as counterPrice
        ,is_new        as isNew
        ,is_hot        as isHot
        ,name
        ,pic_url       as picUrl
        ,retail_price  as retailPrice
        from cskaoyan_mall_goods
        where
        name like '%' #{keyword} '%'
        <if test="categoryId != null and categoryId != 0">
            and category_id = #{categoryId}
        </if>
    </select>

    <select id="selectGoodsCategorys" resultType="com.cskaoyan.mall.mallStart.bean.Category">
        select DISTINCT
        c.id             as   id
        ,c.name          as   name
        ,c.keywords      as   keywords
        ,c.desc          as   `desc`
        ,c.icon_url      as   iconUrl
        ,c.pic_url       as   picUrl
        ,c.level         as   `level`
        ,c.add_time      as   addTime
        ,c.deleted       as   deleted
        ,c.pid           as   pid
        ,c.sort_order    as   sortOrder
        ,c.update_time   as   updateTime
        from cskaoyan_mall_goods g
        LEFT JOIN cskaoyan_mall_category c
        on g.category_id = c.id
        where
        g.name like '%' #{keyword} '%'
    </select>
</mapper>
